

.dropdown-item {
    outline: none !important;
}


#nprogress {

    .bar {
        background: $brand-primary !important;
    }

    .peg {
        box-shadow: 0 0 10px $brand-primary, 0 0 5px $brand-primary !important;
    }

    .spinner-icon {
        border-top-color: $brand-primary !important;
        border-left-color: $brand-primary !important;
    }
}


#picture-input {

    canvas.picture-preview {
      background-color: transparent;
    }

    .picture-inner-text {
        font-size: 18px;
        padding: 70px;
    }


}


.modal-content {
    border-radius: 3px;
}

.modal-body {
    padding: 0 !important;
}
.modal-inner {
    padding: 20px;
}